.contact {
	margin: 6rem 0;
}
.contact-box {
	padding-top: 5rem;
	font-size: 1.8rem;
	font-weight: 900;
}
.contact-box span {
	transition: all 0.2s ease;
	cursor: pointer;
}
.contact-box span:hover {
	text-decoration: underline;
	color: var(--accent-color);
}
.contact-box img {
	vertical-align: middle;
	width: 3.5rem;
	height: 3.5rem;
	margin-right: 2rem;
}
@media screen and (max-width: 1100px) {
	.contact-box {
		font-size: 1.6rem;
		justify-content: flex-start;
		flex-direction: column;
	}
	.contact-item {
		padding: 1.5rem 0;
	}
}
