.navbar {
	min-height: 7.5rem;
	height: 10rem;
}
.navbar-brand {
	font-size: 1.5rem;
	font-weight: bold;
	text-decoration: none;
}
.navbar-brand img {
	width: 6rem;
	height: 6rem;
	padding-right: 1rem;
}
.navbar-brand span {
	font-size: 3.2rem;
}

/* responsive navbar menu */
@media screen and (max-width: 1100px) {
	.navbar-menu {
		position: fixed;
		top: 0;
		right: -50%;
		bottom: 0;
		height: 100vh;
		max-height: 100vh;
		z-index: 8;
		background: var(--accent-color);
		display: flex;
		flex-direction: column;
		justify-content: center;
		transition: all 0.3s ease;
	}
	.navbar-menu.show {
		right: 0;
	}
	.navbar-menu ul {
		flex-direction: column;
		justify-content: center;
		margin-bottom: 4rem;
		color: var(--header-text-color);
		justify-content: center !important;
	}
	.navbar-menu ul li {
		padding: 1rem 0;
	}
	.navbar-menu ul li a {
		font-size: 2.5rem;
		font-weight: bold;
		text-decoration: none;
		color: var(--header-text-color);
	}
	.navbar-menu .close-navbar {
		display: block !important;
		position: absolute;
		top: 3rem;
		right: 4rem;
		cursor: pointer;
	}
	.navbar-menu .close-navbar img {
		width: 2rem;
		height: 2rem;
	}
	.nav-contacts-mobile a {
		display: block;
		color: var(--header-text-color) !important;
	}
	.navbar-contacts {
		display: none;
	}
	.menu-button-mobile {
		display: block;
	}
}

@media screen and (max-width: 720px) {
	.navbar-brand a span {
		font-size: 2rem !important;
		font-weight: bold;
		text-decoration: none;
	}
	.navbar-menu {
		min-width: 70%;
		right: -70%;
	}
	.navbar-menu ul li a {
		font-size: 1.8rem;
	}
	.nav-contacts-mobile a h1 {
		font-size: 2rem !important;
	}
	.navbar-menu li:hover a {
		color: var(--header-text-color) !important;
	}
}
/* ---------------- */

.navbar-menu li,
.navbar-menu a {
	font-size: 1.8rem;
	list-style-type: none;
	color: var(--text);
	transition: all 0.2s ease;
	font-weight: 500;
	text-align: center;
}
.navbar-menu li {
	display: table-cell;
	vertical-align: middle;
}
.navbar-menu li:hover a {
	color: var(--accent-color);
}
.navbar-contacts span {
	text-decoration: underline dashed;
}

.navbar-contacts h1 {
	font-size: 2.4rem;
}

.navbar-contacts:hover * {
	color: var(--accent-color-hover);
}
.navbar-contacts {
	text-align: right;
}
